
	</body>
	<footer class="page-footer font-small">
	  <div class="footer-copyright text-center text-white py-3">
	   	Created by <b><a style="text-decoration:none;color:white;" href="/about">Rabbit Team</a></b>. <br> © <%= currentYear() %> All rights reserved.
	  </div>
	</footer>
	<script src="/jquery.min.js"></script>
	<script src="/popper.min.js"></script>
	<script src="/bootstrap.min.js"></script>
</html>