<!DOCTYPE HTML>

<html>
    <head>
        <title>Cute rebbits</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/main.landing.css" />
    </head>
    <body>

        <!-- Header -->

        <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="index.html">rabbit page</a></li>
                    <li><a href="generic.html">about us</a></li>
                    <li><a href="elements.html">login/registraion</a></li>
                </ul>
            </nav>

        <!-- Banner -->
            <section class="banner full">
                <article>
                    <img src="https://cdn0.wideopenpets.com/wp-content/uploads/2017/12/rabbit-2746741_1280-770x405.jpg" alt="" />
                    <div class="inner">
                        <header>
                            <p>Th best site  for rabbits fans</a></p>
                            <h2>Holland Lop</h2>
                        </header>
                    </div>
                </article>
                <article>
                    <img src="https://cdn.bestfriends.org/s3fs-public/resource/Healthy-bunny-Bluebell-0056.jpg" alt="" />
                    <div class="inner">
                        <header>
                            <p>Great deal of rabbit </p>
                            <h2>Angora rabbit</h2>
                        </header>
                    </div>
                </article>
                <article>
                    <img src="https://i.ytimg.com/vi/Fv5MZFWn7lE/maxresdefault.jpg"  alt="" />
                    <div class="inner">
                        <header>
                            <p>Leave comment and discus you favourite rabbits</p>
                            <h2>Rex rabbit</h2>
                        </header>
                    </div>
                </article>
                <article>
                    <img src="https://5.imimg.com/data5/KR/YL/MY-38540305/bunny-rabbit-500x500.jpg"  alt="" />
                    <div class="inner">
                        <header>
                            <p>Createe your accout</p>
                            <h2>Mini lop</h2>
                        </header>
                    </div>
                </article>
                <article>
                    <img src="https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1530284285/bunny-rabbit-AUSAIRPORT0618.jpg?itok=T_obsDNq"  alt="" />
                    <div class="inner">
                        <header>
                            <p>Log in if you love rabbits</p>
                            <h2>Dutch rabbit</h2>
                        </header>
                    </div>
                </article>
            </section>
            <div class="centered"><a href="/rabbits">More Rabbits</a></div>

        <!-- Scripts -->
            <script src="/jquery.min.js"></script>
            <script src="/jquery.scrollex.min.js"></script>
            <script src="/skel.min.js"></script>
            <script src="/util.js"></script>
            <script src="/main.js"></script>
        </body>
</html>